#include <windows.h>
#include "resource.h"

IDR_MAINMENU MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "Open pack root...\tCtrl+O", IDM_FILE_OPEN_PACKROOT
    MENUITEM "Save language YAML\tCtrl+S", IDM_FILE_SAVE_LANGUAGE
    MENUITEM "Save phonemes YAML", IDM_FILE_SAVE_PHONEMES
    MENUITEM SEPARATOR
    MENUITEM "Exit", IDM_FILE_EXIT
  END
  POPUP "&Settings"
  BEGIN
    MENUITEM "Set eSpeak directory...", IDM_SETTINGS_ESPEAK_DIR
    MENUITEM "Set DLL directory...", IDM_SETTINGS_DLL_DIR
    MENUITEM "Speech settings...", IDM_SETTINGS_SPEECH_SETTINGS
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "About...", IDM_HELP_ABOUT
  END
END

IDD_ADD_MAPPING DIALOGEX 0,0,240,170
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Add mapping"
FONT 9, "Segoe UI"
BEGIN
  LTEXT "From (IPA):", -1, 7,7,70,10
  EDITTEXT IDC_MAP_FROM, 80,5,150,14, ES_AUTOHSCROLL

  LTEXT "To (phoneme key):", -1, 7,26,70,10
  EDITTEXT IDC_MAP_TO, 80,24,150,14, ES_AUTOHSCROLL

  CONTROL "At word start", IDC_MAP_WORDSTART, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 7,46,100,10
  CONTROL "At word end", IDC_MAP_WORDEND, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 120,46,100,10

  LTEXT "Before class:", -1, 7,62,70,10
  COMBOBOX IDC_MAP_BEFORECLASS, 80,60,150,120, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

  LTEXT "After class:", -1, 7,80,70,10
  COMBOBOX IDC_MAP_AFTERCLASS, 80,78,150,120, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

  DEFPUSHBUTTON "OK", IDOK, 126,148,50,14
  PUSHBUTTON "Cancel", IDCANCEL, 180,148,50,14
END

IDD_CLONE_PHONEME DIALOGEX 0,0,240,120
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Clone phoneme"
FONT 9, "Segoe UI"
BEGIN
  LTEXT "New phoneme key:", -1, 7,7,90,10
  EDITTEXT IDC_CLONE_NEWKEY, 100,5,130,14, ES_AUTOHSCROLL

  LTEXT "Clone from:", -1, 7,28,90,10
  COMBOBOX IDC_CLONE_FROM, 100,26,130,100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

  DEFPUSHBUTTON "OK", IDOK, 126,98,50,14
  PUSHBUTTON "Cancel", IDCANCEL, 180,98,50,14
END

IDD_EDIT_VALUE DIALOGEX 0,0,240,90
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Edit value"
FONT 9, "Segoe UI"
BEGIN
  LTEXT "Field:", -1, 7,7,40,10
  LTEXT "", IDC_VAL_FIELD, 52,7,180,10

  LTEXT "Value:", -1, 7,28,40,10
  EDITTEXT IDC_VAL_VALUE, 52,26,180,14, ES_AUTOHSCROLL

  CONTROL "Preview while typing", IDC_VAL_LIVE_PREVIEW, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 52,44,120,10

  DEFPUSHBUTTON "OK", IDOK, 126,68,50,14
  PUSHBUTTON "Cancel", IDCANCEL, 180,68,50,14
END

IDD_EDIT_PHONEME DIALOGEX 0,0,280,200
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Edit phoneme"
FONT 9, "Segoe UI"
BEGIN
  LTEXT "", IDC_PHONEME_KEY_LABEL, 7,7,266,10
  LTEXT "Phoneme fields:", -1, 7,18,266,10
  CONTROL "", IDC_PHONEME_FIELDS, "SysListView32", LVS_REPORT | LVS_SINGLESEL | WS_TABSTOP | WS_BORDER, 7,22,266,150
  PUSHBUTTON "Edit value...", IDC_PHONEME_EDIT_VALUE, 7,176,70,14
  DEFPUSHBUTTON "OK", IDOK, 168,176,50,14
  PUSHBUTTON "Cancel", IDCANCEL, 223,176,50,14
END

IDD_EDIT_SETTINGS DIALOGEX 0,0,280,200
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Language settings"
FONT 9, "Segoe UI"
BEGIN
  LTEXT "Settings:", -1, 7,7,266,10
  CONTROL "", IDC_SETTINGS_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | WS_TABSTOP | WS_BORDER, 7,18,266,129
  PUSHBUTTON "Add...", IDC_SETTINGS_ADD, 7,152,60,14
  PUSHBUTTON "Edit...", IDC_SETTINGS_EDIT, 72,152,60,14
  PUSHBUTTON "Remove", IDC_SETTINGS_REMOVE, 137,152,60,14
  DEFPUSHBUTTON "OK", IDOK, 168,176,50,14
  PUSHBUTTON "Cancel", IDCANCEL, 223,176,50,14
END

// -----------------
// Dialog: Speech settings
// -----------------
IDD_SPEECH_SETTINGS DIALOGEX 0,0,300,260
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Speech settings"
FONT 9, "Segoe UI"
BEGIN
  LTEXT "Voice:", -1, 7,7,40,10
  COMBOBOX IDC_SPEECH_VOICE, 55,5,140,120, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

  GROUPBOX "Basic", -1, 7,24,286,88
  LTEXT "Rate:", -1, 14,38,35,10
  CONTROL "", IDC_SPEECH_RATE_SLIDER, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP, 55,34,170,18
  LTEXT "", IDC_SPEECH_RATE_VAL, 232,38,55,10

  LTEXT "Pitch:", -1, 14,56,35,10
  CONTROL "", IDC_SPEECH_PITCH_SLIDER, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP, 55,52,170,18
  LTEXT "", IDC_SPEECH_PITCH_VAL, 232,56,55,10

  LTEXT "Volume:", -1, 14,74,35,10
  CONTROL "", IDC_SPEECH_VOLUME_SLIDER, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP, 55,70,170,18
  LTEXT "", IDC_SPEECH_VOLUME_VAL, 232,74,55,10

  LTEXT "Inflection:", -1, 14,92,45,10
  CONTROL "", IDC_SPEECH_INFLECTION_SLIDER, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP, 55,88,170,18
  LTEXT "", IDC_SPEECH_INFLECTION_VAL, 232,92,55,10

  GROUPBOX "Frame parameters", -1, 7,116,286,106
  LTEXT "Parameter:", -1, 14,130,55,10
  LISTBOX IDC_SPEECH_PARAM_LIST, 14,142,130,70, LBS_NOTIFY | WS_VSCROLL | WS_TABSTOP | WS_BORDER
  LTEXT "Value:", -1, 152,130,30,10
  CONTROL "", IDC_SPEECH_PARAM_SLIDER, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP, 152,142,130,18
  LTEXT "", IDC_SPEECH_PARAM_VAL, 152,164,130,10
  PUSHBUTTON "Reset parameter", IDC_SPEECH_PARAM_RESET, 152,178,90,14
  PUSHBUTTON "Reset all", IDC_SPEECH_RESET_ALL, 246,178,45,14

  DEFPUSHBUTTON "OK", IDOK, 188,238,50,14
  PUSHBUTTON "Cancel", IDCANCEL, 243,238,50,14
END

IDD_EDIT_SETTING DIALOGEX 0,0,240,100
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Edit setting"
FONT 9, "Segoe UI"
BEGIN
  LTEXT "Key:", -1, 7,7,40,10
  COMBOBOX IDC_SETTING_KEY, 52,5,180,120, CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP

  LTEXT "Value:", -1, 7,30,40,10
  EDITTEXT IDC_SETTING_VALUE, 52,28,180,14, ES_AUTOHSCROLL

  DEFPUSHBUTTON "OK", IDOK, 126,78,50,14
  PUSHBUTTON "Cancel", IDCANCEL, 180,78,50,14
END
